<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ninjas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Ninjas</h1>
        <p>This is a paragraph about ninjas. Ninjas are sneaky and stuff. Be careful! one is right behind you. Did you look? Did you see the ninja? Probably not, because the ninja is sneaky. Hey guess what? IM THE NINJA! HAHAHAHAHAHHA ooooo got you. Shuriken to your face.</p>
    </body>
</html>